<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DZFixedHeadOfScrollViewDome.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>88F3446B1FCBE7C3006CD6E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88F344841FCBE7C3006CD6E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88F3448F1FCBE7C4006CD6E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
